In [1]:
import torch
import emoji
import os
import sys
import pandas as pd
import numpy as np
import scipy.stats as ss
import pickle
sys.path.insert(0, '../')

from tqdm import tqdm
from config import GPT2EmojiConfig
from model import GPT2LMEmojiModel
from transformers import GPT2Tokenizer
from run_language_modeling import load_and_cache_examples, targets_mask
from sst_binary import sst_binary
from utils import *
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split


MODEL_CLASSES = {
    "gpt2": (GPT2EmojiConfig, GPT2LMEmojiModel, GPT2Tokenizer),
}

MODEL_PATH = '../checkpoint-180000'

args = torch.load(os.path.join(MODEL_PATH, 'training_args.bin'))

config_class, model_class, tokenizer_class = MODEL_CLASSES['gpt2']

config = config_class.from_pretrained(MODEL_PATH)

tokenizer = tokenizer_class.from_pretrained(MODEL_PATH)

model = model_class.from_pretrained(
            MODEL_PATH,
            config=config,
)

map_target_to_token_id = dict(
        zip(range(0, len(emoji.UNICODE_EMOJI.keys())), tokenizer.encode(list(emoji.UNICODE_EMOJI.keys())))
)

Token indices sequence length is longer than the specified maximum sequence length for this model (2811 > 1024). Running this sequence through the model will result in indexing errors

In [3]:
DATASETS = [
    'Olympic',
    'PsychExp',
    'SCv1',
    'SCv2-GEN',
    'SE0714',
    'SS-Twitter',
    'SS-Youtube',
]
DIR = '../data'
FILENAME_RAW = 'raw.pickle'
CLASSES = 'negative, positive'.split(', ')
TRAIN_SIZE = 1000

In [4]:
def load_dataset(dataset):
    print(dataset)
    DATASET_PATH = f'{DIR}/{dataset}/{FILENAME_RAW}'
    with open(DATASET_PATH, 'rb') as file:
        data = pickle.load(file, fix_imports=True, encoding='bytes')
    
    # Decode data
    texts = [str(x) for x in data[b'texts']]
    # Extract labels
    labels = [x[b'label'] for x in data[b'info']]
    return texts, labels

def decode(y_in):
    y_out = []
    for y in y_in:
        y_out.append(np.argmax(y))
    return y_out

In [6]:
X, y = load_dataset(DATASETS[5])

SS-Twitter

In [7]:
Xt = tokenize(X, tokenizer)

In [8]:
trXt, teXt, trY, teY = train_test_split(Xt, y, train_size=TRAIN_SIZE, random_state=42)

In [9]:
mean_preds = predict_mean(trXt, model, tokenizer, map_target_to_token_id)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1000/1000 [01:17<00:00, 12.89it/s]

In [10]:
last_preds = predict_last(trXt, model, tokenizer, map_target_to_token_id)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1000/1000 [01:17<00:00, 12.84it/s]

In [11]:
max_preds = predict_max(trXt, model, tokenizer, map_target_to_token_id)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1000/1000 [01:27<00:00, 11.45it/s]

In [12]:
mean_cm = pd.crosstab(pd.Series(mean_preds), pd.Series(trY))
mean_cm

col_0    0    1
row_0
âœ…        0    1
âœ¨        1    9
â¤        0    9
â¡       53   76
ğŸ•        0    1
ğŸ‚        0    2
ğŸ‰        0    1
ğŸ¶        2    0
ğŸ‘€        0    9
ğŸ‘‡       12   21
ğŸ‘‰        3    2
ğŸ‘‹        0    1
ğŸ‘        2   17
ğŸ‘        0    8
ğŸ’        0    1
ğŸ’”        2    0
ğŸ’•        1    8
ğŸ’›        0    1
ğŸ’œ        1   14
ğŸ’¦        0    1
ğŸ’¯        2    1
ğŸ’°        0    1
ğŸ”¥        5   19
ğŸ˜‚      188  185
ğŸ˜ˆ        0    1
ğŸ˜‰        1    0
ğŸ˜Š        3   20
ğŸ˜‹        0    2
ğŸ˜Œ        0    1
ğŸ˜        4   29
ğŸ˜”        7    4
ğŸ˜˜        1    2
ğŸ˜­      128   98
ğŸ˜´        2    0
ğŸ™‚        1    0
ğŸ™„        3    0
ğŸ™        1   21
ğŸ¥º        1   10

In [13]:
last_cm = pd.crosstab(pd.Series(last_preds), pd.Series(trY))
last_cm

col_0   0   1
row_0
âœ…       0   2
âœ¨       3  13
â¤       4  10
â¡      38  51
ğŸ‡º       0   1
...    ..  ..
ğŸ™ƒ       7   0
ğŸ™„       4   5
ğŸ™       1  13
ğŸ¤       0   1
ğŸ¥º       2   6

[64 rows x 2 columns]

In [14]:
max_cm = pd.crosstab(pd.Series(max_preds), pd.Series(trY))
max_cm

col_0   0   1
row_0
âœ…       3   3
âœ¨       0   6
â¤       0   3
â¡      55  90
ğŸ‡º       1   0
...    ..  ..
ğŸ™       1   9
ğŸš€       0   1
ğŸ›Œ       1   0
ğŸ›       1   1
ğŸ¥º       3   6

[75 rows x 2 columns]

In [15]:
cramers_corrected_stat(mean_cm.to_numpy())

0.32665083612835466

In [16]:
cramers_corrected_stat(last_cm.to_numpy())

0.40285674027427265

In [17]:
cramers_corrected_stat(max_cm.to_numpy())

0.31841320051535843

In [18]:
theil_u(trY, mean_preds)

0.12872417904790137

In [19]:
theil_u(trY, last_preds)

0.20163576092682717

In [20]:
theil_u(trY, max_preds)

0.15497369966398533

## Logreg

In [21]:
Xtrans_last = transform_last(X, model, tokenizer, args)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2113/2113 [03:50<00:00,  9.16it/s]

In [22]:
Xtrans_mean = transform_mean(X, model, tokenizer, args)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2113/2113 [04:40<00:00,  7.54it/s]

In [23]:
Xtrans_max = transform_max(X, model, tokenizer, args)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2113/2113 [06:06<00:00,  5.77it/s]

In [24]:
trXtrans, teXtrans, trY, teY = train_test_split(Xtrans_last, y, train_size=TRAIN_SIZE, random_state=42)

In [26]:
model, C, scores = train_with_reg_cv(trXtrans, trY, teXtrans, teY, None, None, penalty='l2', solver='lbfgs')
model, C, scores

(LogisticRegression(C=0.00390625, class_weight=None, dual=False,
                    fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                    max_iter=1000000, multi_class='auto', n_jobs=None,
                    penalty='l2', random_state=51, solver='lbfgs', tol=0.0001,
                    verbose=0, warm_start=False),
 0.00390625,
 [0.8337825696316262,
  0.8301886792452831,
  0.8328840970350404,
  0.8283917340521114,
  0.8176100628930818,
  0.8131176999101527,
  0.8068283917340521,
  0.7960467205750225,
  0.7852650494159928])

In [27]:
trXtrans, teXtrans, trY, teY = train_test_split(Xtrans_mean, y, train_size=TRAIN_SIZE, random_state=42)

In [28]:
model, C, scores = train_with_reg_cv(trXtrans, trY, teXtrans, teY, None, None, penalty='l2', solver='lbfgs')
model, C, scores

(LogisticRegression(C=0.0625, class_weight=None, dual=False, fit_intercept=True,
                    intercept_scaling=1, l1_ratio=None, max_iter=1000000,
                    multi_class='auto', n_jobs=None, penalty='l2',
                    random_state=51, solver='lbfgs', tol=0.0001, verbose=0,
                    warm_start=False),
 0.0625,
 [0.8203054806828391,
  0.8221024258760108,
  0.8247978436657682,
  0.8247978436657682,
  0.8310871518418689,
  0.825696316262354,
  0.8230008984725966,
  0.8185085354896675,
  0.8149146451033243])

In [29]:
trXtrans, teXtrans, trY, teY = train_test_split(Xtrans_max, y, train_size=TRAIN_SIZE, random_state=42)

In [30]:
model, C, scores = train_with_reg_cv(trXtrans, trY, teXtrans, teY, None, None, penalty='l2', solver='lbfgs')
model, C, scores

(LogisticRegression(C=0.00390625, class_weight=None, dual=False,
                    fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                    max_iter=1000000, multi_class='auto', n_jobs=None,
                    penalty='l2', random_state=51, solver='lbfgs', tol=0.0001,
                    verbose=0, warm_start=False),
 0.00390625,
 [0.8005390835579514,
  0.8005390835579514,
  0.7978436657681941,
  0.793351302785265,
  0.7915543575920935,
  0.784366576819407,
  0.7879604672057502,
  0.7780772686433064,
  0.7744833782569631])